<?xml version="1.0" encoding="UTF-8"?>
<?include Constants.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="$(var.ZZ_PRODUCT_ID)"
			 Name="HgSccPackage"
			 Language="1033"
			 Version="$(var.ZZ_VERSION)"
			 Manufacturer="$(var.ZZ_AUTHOR)"
			 UpgradeCode="92680898-E5B3-43AF-9D81-3E07DA507EBC">
		<Package InstallerVersion="200" Compressed="yes"
				 Platform="x86"
				 Description="Mercurial Source Control Package for MS Visual Studio"
				 Manufacturer="$(var.ZZ_AUTHOR)"/>

		<Property Id="ARPHELPLINK">$(var.ZZ_URL)</Property>
		<Property Id="ARPCONTACT">$(var.ZZ_AUTHOR)</Property>

		<Upgrade Id="92680898-E5B3-43AF-9D81-3E07DA507EBC">
			<UpgradeVersion Property="OLD_VERSION_FOUND"
							Minimum="1.0.0.0"
							Maximum="$(var.ZZ_VERSION)"
							IncludeMinimum="yes"
							IncludeMaximum="no"
							OnlyDetect="no"
							IgnoreRemoveFailure="no"
							Language="1033" />
			
			<UpgradeVersion Property="NEWER_VERSION_FOUND"
							Minimum="$(var.ZZ_VERSION)"
							IncludeMinimum="no"
							OnlyDetect="yes"
							Language="1033" />
		</Upgrade>

		<InstallExecuteSequence>
			<RemoveExistingProducts After="InstallInitialize" />
			<InstallExecute After="RemoveExistingProducts" />
		</InstallExecuteSequence>

		<Condition Message="A newer version of HgSccPackage is already installed. Exiting installation.">
			<![CDATA[Installed OR NOT NEWER_VERSION_FOUND]]>
		</Condition>

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

		<PropertyRef Id="VS2008_DEVENV" />
		<PropertyRef Id="VS2010_DEVENV" />
		<PropertyRef Id="VS11_DEVENV" />

		<Condition Message="You must have one of MS Visual Studio 2008/2010/11 installed, standard edition or higher">
			<![CDATA[Installed OR VS2008_DEVENV OR VS2010_DEVENV OR VS11_DEVENV]]>
		</Condition>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="ZzFolder" Name="Zz">
					<Directory Id="INSTALLLOCATION" Name="HgSccPackage">
						<Component Id="ProductComponent" Guid="afed0d52-29e9-4786-8e3e-ce527b327aca">
							<File Id='AvalonEdit' Name='ICSharpCode.AvalonEdit.dll' DiskId='1'
								  Source='../Lib/ICSharpCode.AvalonEdit.dll' />
							<File Id='RestSharp' Name='RestSharp.dll' DiskId='1'
								  Source='../Lib/RestSharp.dll' />
							
							<!-- TODO: Insert files, registry keys, and other resources here. -->
						</Component>
					</Directory>
				</Directory>
			</Directory>
		</Directory>

		<Feature Id="ProductFeature" Title="HgSccPackageWix" Level="1">
			<ComponentRef Id="ProductComponent" />

			<!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
			<ComponentGroupRef Id="Product.Generated" />
		</Feature>

		<Feature Id="Feature_VS2008" Title="VS2008" Level="1">
			<ComponentRef Id="VS2008_REG" />

			<Condition Level="0">
				<![CDATA[NOT VS2008_DEVENV]]>
			</Condition>
		</Feature>

		<Feature Id="Feature_VS2010" Title="VS2010" Level="1">
			<ComponentRef Id="VS2010_REG" />

			<Condition Level="0">
				<![CDATA[NOT VS2010_DEVENV]]>
			</Condition>
		</Feature>

		<Feature Id="Feature_VS11" Title="VS11" Level="1">
			<ComponentRef Id="VS11_REG" />

			<Condition Level="0">
				<![CDATA[NOT VS11_DEVENV]]>
			</Condition>
		</Feature>

		<CustomActionRef Id="VS2008_SETUP" />
		<CustomActionRef Id="VS2010_SETUP" />
		<CustomActionRef Id="VS11_SETUP" />
	</Product>
</Wix>
