<?xml version="1.0" encoding="UTF-8"?>
<?include Constants.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<Property Id="VS11_DEVENV">
			<RegistrySearch Id="VS11_DEVENV_SEARCH"
							Root="HKLM"
							Key="SOFTWARE\Microsoft\VisualStudio\11.0\Setup\VS"
							Name="EnvironmentPath"
							Type="file">
				<FileSearch Id="VS11_DEVENV_FILE" Name="[VS11_DEVENV]"/>
			</RegistrySearch>
		</Property>
	</Fragment>
	<Fragment>
		<DirectoryRef Id="INSTALLLOCATION">
			<Component Id="VS11_REG">
				<!-- SOFTWARE\Microsoft\VisualStudio\11.0 -->
				<RegistryKey Id="Reg_VS11_SolutionPersistence"
							 Root="HKLM"
							 Action="createAndRemoveOnUninstall"
							 Key="SOFTWARE\Microsoft\VisualStudio\11.0\SolutionPersistence\MercurialSourceControlSolutionProperties">
					<RegistryValue Type="string" Value="{a7f26ca1-2000-4729-896e-0bbe9e380635}" />
				</RegistryKey>
				<RegistryKey Id="Reg_VS11_SourceControlProviders"
							 Root="HKLM"
							 Action="createAndRemoveOnUninstall"
							 Key="SOFTWARE\Microsoft\VisualStudio\11.0\SourceControlProviders\{a7f26ca1-0000-4729-896e-0bbe9e380635}">
					<RegistryValue Type="string" Value="Mercurial Source Control Package" />
					<RegistryValue Name="Service" Type="string" Value="{a7f26ca1-1000-4729-896e-0bbe9e380635}" />
					<RegistryKey Key="Name">
						<RegistryValue Type="string" Value="#100"></RegistryValue>
						<RegistryValue Name="Package" Type="string" Value="{a7f26ca1-2000-4729-896e-0bbe9e380635}"></RegistryValue>
					</RegistryKey>
				</RegistryKey>
				<RegistryKey Id="Reg_VS11_Services"
							 Root="HKLM"
							 Action="createAndRemoveOnUninstall"
							 Key="SOFTWARE\Microsoft\VisualStudio\11.0\Services\{a7f26ca1-1000-4729-896e-0bbe9e380635}">
					<RegistryValue Type="string" Value="{a7f26ca1-2000-4729-896e-0bbe9e380635}"></RegistryValue>
					<RegistryValue Name="Name" Type="string" Value="Mercurial Source Control Package Service"></RegistryValue>
				</RegistryKey>
				<RegistryKey Root="HKLM"
							 Key="SOFTWARE\Microsoft\VisualStudio\11.0\Menus">
					<RegistryValue Type="string" Name="{a7f26ca1-2000-4729-896e-0bbe9e380635}" Value=", 1000, 1"></RegistryValue>
				</RegistryKey>
				<RegistryKey Id="Reg_VS11_AutoLoadPackages"
							 Root="HKLM"
							 Action="createAndRemoveOnUninstall"
							 Key="SOFTWARE\Microsoft\VisualStudio\11.0\AutoLoadPackages\{a7f26ca1-0000-4729-896e-0bbe9e380635}">
					<RegistryValue Name="{a7f26ca1-2000-4729-896e-0bbe9e380635}" Type="integer" Value="0"></RegistryValue>
				</RegistryKey>
				<RegistryKey Id="Reg_VS11_HgSccPackage"
							 Root="HKLM"
							 Action="createAndRemoveOnUninstall"
							 Key="SOFTWARE\Microsoft\VisualStudio\11.0\InstalledProducts\HgSccPackage">
					<RegistryValue Type="string" Value="#100"></RegistryValue>
					<RegistryValue Name="Package" Type="string" Value="{a7f26ca1-2000-4729-896e-0bbe9e380635}"></RegistryValue>
					<RegistryValue Name="ProductDetails" Type="string" Value="#101"></RegistryValue>
					<RegistryValue Name="PID" Type="string" Value="$(var.ZZ_VERSION)"></RegistryValue>
					<RegistryValue Name="LogoID" Type="string" Value="#400"></RegistryValue>
				</RegistryKey>
				<RegistryKey Id="Reg_VS11_Packages"
							 Root="HKLM"
							 Action="createAndRemoveOnUninstall"
							 Key="SOFTWARE\Microsoft\VisualStudio\11.0\Packages\{a7f26ca1-2000-4729-896e-0bbe9e380635}">
					<RegistryValue Type="string" Value="HgSccPackage.SccProvider, HgSccPackage, Version=$(var.ZZ_VERSION), Culture=neutral, PublicKeyToken=null"></RegistryValue>
					<RegistryValue Name="Class" Type="string" Value="HgSccPackage.SccProvider"></RegistryValue>
					<RegistryValue Name='CodeBase' Type='string' Value='[INSTALLLOCATION]HgSccPackage.dll'/>
					<RegistryValue Name="ID" Type="integer" Value="104"></RegistryValue>
					<RegistryValue Name="InprocServer32" Type="string" Value="[SystemFolder]mscoree.dll"></RegistryValue>
					<RegistryValue Name="CompanyName" Type="string" Value="$(var.ZZ_AUTHOR)"></RegistryValue>
					<RegistryValue Name="MinEdition" Type="string" Value="Standard"></RegistryValue>
					<RegistryValue Name="ProductName" Type="string" Value="HgSccPackage - Mercurial Source Control Package"></RegistryValue>
					<RegistryValue Name="Version" Type="string" Value="$(var.ZZ_VERSION)"></RegistryValue>
				</RegistryKey>
			</Component>
		</DirectoryRef>
	</Fragment>
	<Fragment>
		<CustomAction Id="VS11_SETUP"
					  Property="VS11_DEVENV"
					  ExeCommand="/setup /nosetupvstemplates"
					  Execute="deferred"
					  Return="asyncWait"
					  Impersonate="no" />
		
		<PropertyRef Id="VS11_DEVENV" />
		
		<InstallExecuteSequence>
			<Custom Action="VS11_SETUP"
					Before="InstallFinalize"
					Overridable="yes">VS11_DEVENV</Custom>
		</InstallExecuteSequence>
	</Fragment>
</Wix>